<%= render "shared/header" %>

<div class="search-main">
  <div class="search-rakuten">
    <h2>人気のレシピを検索 💡</h2>

    <%= form_tag({controller:"rakutens",action:"index"}, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "食材を入力してください" %> 
      <%= submit_tag '検索' %>
    <% end %>
    <div class="search-explain">食材の人気レシピTOP４が表示されます</div><br>

    <div class="recipe-search-rank">
      <% if @hit %>
        <% @foods.each do |f| %>
        <div class="search-recipes">
          🌟 第<%= f["rank"] %>位 🌟
          <div class="recipeTitle"><%= f["recipeTitle"] %> </div><br>
          <%# 写真をクリックするとレシピの詳細が見れる %>
          <%= link_to f["recipeUrl"] do %>
            <%= image_tag f["foodImageUrl"], class:"recipe-search-img" %> <br>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <h3>該当するレシピがありません</h3>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>