<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「今日の献立」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      今日の献立、何にする？
    </h2>
    <p class='service-explain'>
      迷っているあなたをお助けします
    </p>
  </div>
  <%# /画面上部の「今日の献立」帯部分 %>

  <%# レシピランキング %>
  <div class="main-recipes">
    <div class="recipe-rank">
      <h3>⭐️レシピ人気ランキング⭐️</h3>

      <div class="annotation">※楽天レシピより</div>
    </div>
    <%# /レシピランキング %>


    <%# レシピ検索機能 %>
    <div class="main-recipes-right">
      <div class="main-recipe-search">
        <h3 class="search-title">レシピを検索する 🔍</h3>
        <div class="search-contents">
          <div>投稿されたレシピを検索</div>
          <div><%=link_to '楽天レシピで検索する', rakutens_path, class:"" %></div>
        </div>
      </div>
      <%# /レシピ検索機能 %>

      <%# レシピ一覧 %>
      <div class="recipe-contents">
        <h2 class='title'>新着レシピ 🆕</h2>
          <ul class='recipe-lists'>
          <% @recipes.each do |recipe| %>
          <li class='list'>
            <%= link_to recipe_path(recipe.id) do %> 
            <div class='recipe-img-content'>
            <% if recipe.image.attached? %>
              <%= image_tag recipe.image, class: "recipe-img" %> 
            <% else %>
              <%= image_tag "no-image.png", class: "recipe-img" , style: 'border: 1px solid gray;' %>
            <% end %>
            </div>
            <div class='recipe-info'>
              <h3 class='recipe-title'>
                <%= recipe.title %>
              </h3>
            </div>
            <% end %>
          </li>
          <% end %>
      </div>
    </div>
  </div>
  <%# /レシピ一覧 %>

</div>
<%= render "shared/footer" %>