<%= render "shared/header" %>
<div class="recipe-show">

<%# 編集削除 項目 %>
  <div class="more">
    <ul class="recipe-show-list">
      <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <li>
          <%= link_to '編集', edit_recipe_path(@recipe.id), class:"edit-btn" %>
        </li>
        <li>
          <%= link_to '削除', recipe_path(@recipe.id), data: { turbo_method: :delete }, class:"delete-btn" %>
        </li>
      <% end %>
    </ul>  
  </div>
<%# 編集削除 項目 %>

<%# レシピの概要 %>
  <div class="recipe-box">
    <div class="left-show-recipe">
      <h2 class="show-title">
        <%= @recipe.title %>
      </h2>
      <div class="recipe-img-content">
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image, class: "recipe-show-img" %> 
        <% else %>
          <%= image_tag "no-image.png", class: "recipe-show-img" %>
        <% end %>
      </div>
    </div>
    <div class="right-show-recipe">
      <div class="detail-content">
        <h5 class="detail-recipe">材料</h5>
        <div class="detail-value">
          <% if @recipe.ingredient.empty? %>
            <div class="detail-URL">※レシピURL先の材料をご覧ください※</div>
          <% else %>
            <%= @recipe.ingredient %>
          <% end %>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-recipe">作り方</div>
        <div class="detail-value">
          <% if @recipe.instruction.empty? %>
            <div class="detail-URL">※レシピURL先の作り方をご覧ください※</div>
          <% else %>
            <%= @recipe.instruction %>
          <% end %>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-recipe">作ったレシピのURL</div>
        <div class="detail-value"><%= @recipe.reference_url %></div>
      </div>
      <div class="detail-content">
        <div class="detail-recipe">メモ</div>
        <div class="detail-value"><%= @recipe.memo %></div>
      </div>

      <%# いいね %>
      <div class="like_post-user">
        <div id="like-btn<%= @recipe.id %>">
          <%= render partial: "likes/like" , locals: { recipe: @recipe } %>
        </div>
      <%# /いいね %>
        <div class="post-user">
          <%= link_to "投稿者：#{@recipe.user.name}", user_path(@recipe.user), class: "post-user-name" %>
        </div>
      </div>

    </div>
  </div>
<%# /レシピの概要 %>

<%# レシピとコメントの境界線 %>
  <div class="comment-border">
    <div class="border"></div>
  </div>
<%# /レシピとコメントの境界線 %>

<%# コメント欄 %>
  <div class="comments-index">
    <div class="comment-form">
      <% if user_signed_in? %>
        <%= form_with model: [@recipe, @comment], id: "comment-form" do |form| %>
          <%= form.text_area :text , class: "comment-text"%>
          <%= form.submit "コメントをする", class: "comment-submit" %>
        <% end %>
      <% end %>
    </div>
    <div id="comments">
      <h4>＜コメント一覧＞</h4>
        <% @recipe.comments.each do |comment| %>
          <div class="comment">
            <p class="user-info"><%= comment.user.name %>： </p>
            <p><%= comment.text%></p>
          </div>
        <% end %>
    </div>
  </div>
<%# /コメント欄 %>
</div>

<%= render "shared/footer" %>