<%= render "shared/header" %>

<div class="recipe-show">

<%# レシピの概要 %>
  <div class="recipe-box">
    <div class="left-show-recipe">
      <h2 class="show-title">
        <%= @recipe.title %>
      </h2>
      <div class="recipe-img-content">
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.image, class: "recipe-show-img" %> 
        <% else %>
          <%= image_tag "no-image.png", class: "recipe-show-img" %>
        <% end %>
      </div>
    </div>
    <div class="right-show-recipe">
      <div class="detail-content">
        <h5 class="detail-recipe">材料</h5>
        <div class="detail-value">
          <% if @recipe.ingredient.empty? %>
            <div class="detail-URL">※レシピURL先の材料をご覧ください※</div>
          <% else %>
            <%= @recipe.ingredient %>
          <% end %>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-recipe">作り方</div>
        <div class="detail-value">
          <% if @recipe.instruction.empty? %>
            <div class="detail-URL">※レシピURL先の作り方をご覧ください※</div>
          <% else %>
            <%= @recipe.instruction %>
          <% end %>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-recipe">作ったレシピのURL</div>
        <div class="detail-value"><%= @recipe.reference_url %></div>
      </div>
      <div class="detail-content">
        <div class="detail-recipe">メモ</div>
        <div class="detail-value"><%= @recipe.memo %></div>
      </div>
      <div class="post-user">
        <%= link_to "投稿者：#{@recipe.user.name}", user_path(@recipe.user), class: "post-user-name" %>
      </div>
    </div>
  </div>
<%# /レシピの概要 %>

<%# 編集削除 項目 %>
  <div class="more">
    <ul class="recipe-show-list">
      <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <li>
          <%= link_to '編集', edit_recipe_path(@recipe.id), class:"edit-btn" %>
        </li>
        <li>
          <%= link_to '削除', recipe_path(@recipe.id), data: { turbo_method: :delete }, class:"delete-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
<%# 編集削除 項目 %>

</div>
<%= render "shared/footer" %>